<section class="widget"> 

    <h3>Sections</h3>         
	<div class="row panel-group event">
		<div class="col-md-4 col-sm-6" *ngFor="let section of sections; let i = index">
			<div class="panel panel-section">
				<div class="panel-heading">
					Section {{i+1}}
				</div>
				<div class="panel-body">
					<p>Professor: {{section.name}} </p>
					<button class = "btn btn-primary" (click)="joinClass(section.name)"> Join this class</button>
					<button class="btn btn-secondary"  (click)="getRMP(section.name)" data-toggle="modal" data-target="#myModal1">
						Prof. Rate
					</button>
					<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									<h4 class="modal-title" id="myModalLabel1">Overall Quality Rating: {{rmp.rating}}</h4>
								</div>
								<div *ngFor="let comment of rmp.comments">
									<div class="panel-heading">
										<b>User: {{comment.userName}}</b>
									</div>
									<div class="panel-body">
										{{comment.comment}}
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <h3>Course Description</h3>
	<div class="event">
		<footer>
			<p>There's no description about the this course yet :(</p>
		</footer>
	</div>

    <h3>Comments</h3>
	<section class="event">
		<h5 class="event-heading"><a href="#">Jessica Smith</a> <small>@jess</small></h5>
		<p class="text-muted">February 22, 2014 at 01:59 PM</p>
		<p class="fs-mini">
		Check out this awesome photo I made in Italy last summer. Seems it was lost somewhere deep inside
		my brand new HDD 40TB. Thanks god I found it!
		</p>
		<footer>
			<div class="clearfix">
				<ul class="post-links mt-sm pull-left">
					<li><a href="#">1 hour</a></li>
					<li><a href="#"><span class="text-danger"><i class="fa fa-heart-o"></i> Like</span></a></li>
					<li><a href="#">Comment</a></li>
				</ul>

				<span class="thumb thumb-sm pull-right">
					<a href="#">
						<img class="img-circle" src="assets/img/people/a1.jpg">
					</a>
				</span>
				<span class="thumb thumb-sm pull-right">
					<a href="#"><img class="img-circle" src="assets/img/people/a5.jpg"></a>
				</span>
				<span class="thumb thumb-sm pull-right">
					<a href="#"><img class="img-circle" src="assets/img/people/a3.jpg"></a>
				</span>
			</div>
			<ul class="post-comments mt-sm">
				<li>
					<span class="thumb-xs avatar pull-left mr-sm">
						<img alt="..." class="img-circle" src="assets/img/people/a1.jpg">
					</span>
					<div class="comment-body">
						<h6 class="author fs-sm fw-semi-bold">Ignacio Abad <small>6 mins ago</small></h6>
						<p>Hey, have you heard anything about that?</p>
					</div>
				</li>
				<li>
					<span class="thumb-xs avatar pull-left mr-sm">
						<img alt="..." class="img-circle" src="assets/img/avatar.png">
					</span>
					<div class="comment-body">
						<input class="form-control form-control-sm" placeholder="Write your comment..." type="text">
					</div>
				</li>
			</ul>
		</footer>
	</section>

	<form action="#" class="mt ng-untouched ng-pristine ng-valid">
		<div class="form-group mb-0">
			<label class="sr-only" for="new-event">New event</label>
			<textarea class="form-control" id="new-event" placeholder="Post something..." rows="3"></textarea>
		</div>
		<div class="btn-toolbar">
			<div class="btn-group">
				<a class="btn btn-sm btn-gray" href="#">
					<i class="fa fa-camera fa-lg"></i>
				</a>
				<a class="btn btn-sm btn-gray" href="#">
					<i class="fa fa-map-marker fa-lg"></i>
				</a>
			</div>
			<button class="btn btn-danger btn-sm pull-right" type="submit">Post</button>
		</div>
	</form>

</section>
