<!DOCTYPE html>
<html xmlns="http://www.xiaoshihuaaishaowei.com">

<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : iStudy</title>
    <!-- Bootstrap Styles-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">iStudy</a>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Message
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Meeting Vote
                                    <span class="pull-right text-muted small">4 min</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->

                <!-- /.dropdown-tasks -->
                <!-- /.dropdown -->

                <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="active-menu" href="index.html"><i class="fa fa-dashboard"></i> My Profile</a>
                    </li>

                    <li>
                        <a class="active-menu" href="meet.html"><i class="fa fa-dashboard"></i> Set up Meeting Time</a>
                    </li>

                    <li>
                        <a class="active-menu" href="registration.html"><i class="fa fa-dashboard"></i> Class Registration Suggestion</a>
                    </li>

                    <li>
                        <a class="active-menu" href="classmates.html"><i class="fa fa-dashboard"></i> Find My Classmates</a>
                    </li>

                    <!-- <li> -->
                    <!-- <a href="#"><i class="fa fa-sitemap"></i> Features <span class="fa arrow"></span></a> -->
                    <!-- <ul class="nav nav-second-level"> -->
                    <!-- <li> -->
                    <!-- <a href="#">Set up Meeting Time</a> -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <!-- <a href="#">Class Registration Suggestion</a> -->
                    <!-- </li> -->
                    <!-- <li> -->
                    <!-- <a href="#">Find My Classmates</a> -->
                    <!-- </li> -->
                    <!-- </ul> -->
                    <!-- </li> -->
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper">
            <div id="page-inner">


                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            My Profile
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                mengw‘s Profile
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>User Name: </label>
                                                <span id="helpBlock" class="help-block">mengw</span>
                                                <div class="form-group">
                                                    <label>Email: </label>
                                                    <span id="helpBlock" id="email" class="help-block">mengw@purdue.edu</span>
                                                </div>
                                                <div class="form-group">
                                                    <label>Language: </label>
                                                    <input class="form-control" id="language" placeholder="Enter text">
                                                </div>
                                                <div class="form-group">
                                                    <label>Major: </label>
                                                    <input class="form-control" id="major" placeholder="Enter text">
                                                </div>
                                                <div class="form-group">
                                                    <label>Hobby: </label>
                                                    <input class="form-control" id="hobby" placeholder="Enter text">
                                                </div>
                                                <div class="form-group">
                                                    <label>Visibility: </label>
                                                    <select class="form-control">
                                                <option>Yes</option>
                                                <option>No</option>
                                            </select>
                                                </div>

                                                <div class="form-group">
                                                    <button type="button" id="done">Done</button>
                                                </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>




                        <!-- /. ROW  -->



                        <!-- /. ROW  -->
                        <footer>
                            <p>All right reserved. Template by: iStudy Team</a>
                            </p>
                        </footer>
                    </div>
                    <!-- /. PAGE INNER  -->
                </div>
                <!-- /. PAGE WRAPPER  -->
            </div>
            <script type="text/javascript">
                $(function() {

                    $("#done").click(function() {

                        var hobby = $("#hobby").val();
                        var language = $("#language").val();
                        var major = $("#major").val();
                        console.log(hobby+"~~~~~~");
                        var data = {
                            "hobby": hobby,
                            "language": language,
                            "major": major,
                        };
                        console.log(data);
                        $.ajax({
                            //console.log(data);
                            url: '/profile/',
                            type: 'put',
                            data: data,
                            success: function(data, status) {
                                if (status == 'success') {
                                    //location.href = 'home';
                                    location.href = 'dashboard';
                                    console.log(data);
                                }
                            },
                            error: function(data, status) {
                                if (status == 'error') {
                                    console.log('ffaileee');
                                    //	location.href = 'login';
                                }
                            }
                        });
                    });
                });
            </script>
            <!-- /. WRAPPER  -->
            <!-- JS Scripts-->
            <!-- jQuery Js -->
            <script src="assets/js/jquery-1.10.2.js"></script>
            <!-- Bootstrap Js -->
            <script src="assets/js/bootstrap.min.js"></script>
            <!-- Metis Menu Js -->
            <script src="assets/js/jquery.metisMenu.js"></script>
            <!-- Morris Chart Js -->
            <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
            <script src="assets/js/morris/morris.js"></script>
            <!-- Custom Js -->
            <script src="assets/js/custom-scripts.js"></script>




</body>

</html>
