<!DOCTYPE html>
<html lang="en">

<head>
	<title>Reset_Password</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<h2> Reset Password</h2>
		<form>
			<div class="form-group">
				<label for="email">Email:</label>
				<input type="email" class="form-control" id="email" placeholder="Enter Email">
			</div>
			<!--	<div class="form-group">
		<label for="password">Password:</label>
		<input type="password" class="form-control" id="password" placeholder="Confirm New Password">
		</div>
-->
			<button type="submit" class="btn btn-default" id="submit">Submit</button>
		</form>
	</div>
	<script type="text/javascript">
		$(function() {

			$("#submit").click(function() {
				var email = $("#email").val();
				//var data = {"email":email};
				var url = '/users/reset?email=' + email;
				//var
				//console.log(data.toJSON());
				$.ajax({
					url: url,
					type: 'post',
					//	data: data,
					//async: false,
					//contentType: "application/json; charset=utf-8",
					success: function(data, status) {
						//if (status == 'success') {
						//location.href = 'home';
						console.log('success');
						location.href = 'resetpassword';
						//}

					},
					error: function(data, err) {
						//location.href = 'register';
						console.log('errorr');
						console.log(err);
					}
				});
				//}
			});
		});
	</script>
</body>

</html>
