<div class="chat-sidebar-chat chat-sidebar-panel" [ngClass]="{'open': open}">
  <h6 class="title">
    <a (click)="closeChatArea()">
      <i class="fa fa-angle-left mr-xs"></i>
      {{roomName}}
    </a>
  </h6>
  <ul class="message-list" >
    <!--| SearchPipe : searchMessage-->
    <li *ngFor="let message of chatService.messageList" class="message" [ngClass]="{'from-me': message.name === userName}">
      <span class="thumb-sm">
          <img class="img-circle" src="assets/img/avatar.png" alt="...">
      </span>
      <div class="message-body">{{message.message}}</div>
    </li>
  </ul>
</div>
<footer class="chat-sidebar-footer form-group" [ngClass]="{'open': open}">
  <input class="form-control input-dark fs-mini"
         [(ngModel)]="newMessage" (keyup.enter)="sendMessage()"
         type="text" placeholder="Type your message">
</footer>
