<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            My Profile
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" (ngSubmit)="f.form.valid && editProfile()" #f="ngForm" novalidate>
                            <label>User Name: </label>
                            <span id="helpBlock" class="help-block">{{currentUser.userName}}</span>
                            <div class="form-group">
                                <label>Email: </label>
                                <span id="helpBlock" class="help-block">{{currentUser.email}}</span>
                            </div>
                            <div class="form-group">
                                <label>Major: </label>
                                <select class="form-control" [(ngModel)]="myProfile.profile.major" name="major">
                                    <option *ngFor="let major of majors" [value]="major.Abbreviation">
                                        {{major.Abbreviation}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Language: </label>
                                <select class="form-control" [(ngModel)]="myProfile.extra.language[0]" name="language">
                                    <option *ngFor="let lan of languages" [value]="lan">
                                        {{lan.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Birthday: </label>
                                <input class="form-control" [(ngModel)]="myProfile.profile.birthday" type="date" name="birthday">
                            </div>
                            <div class="form-group">
                                <label>Gender: </label>
                                <input class="form-control" [(ngModel)]="myProfile.profile.gender" type="text" name="gender">
                            </div>
                            <div class="form-group">
                                <label>Hobby: </label>
                                <select class="form-control" [(ngModel)]="myProfile.extra.hobby[0]" name="hobby">
                                    <option *ngFor="let hobby of hobbies" [value]="hobby">
                                        {{hobby.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Visibility: </label>
                                <select class="form-control" [(ngModel)]="myProfile.profile.visibility" name="visibility">
                                    <option *ngFor="let vis of visibilities" [value]="vis.value">
                                        {{vis.display}}
                                    </option>
                                </select>
                            </div>

                            <div class = "form-group">
                                <button class="btn btn-primary" (click)="editProfile()">Done</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
