<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">
            My Profile
        </h1>
    </div>
</div>
<!-- /. ROW  -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" (ngSubmit)="f.form.valid && editProfile()" #f="ngForm" novalidate>
                            <label>User Name: </label>
                            <span id="helpBlock" class="help-block">{{currentUser.userName}}</span>
                            <div class="form-group">
                                <label>Email: </label>
                                <span id="helpBlock" class="help-block">{{currentUser.email}}</span>
                            </div>
                            <div class="form-group">
                                <label>Language: </label>
                                <input class="form-control" placeholder="{{profile.language}}" [(ngModel)]="model.language" name="language">
                            </div>
                            <div class="form-group">
                                <label>Major: </label>
                                <input class="form-control" placeholder="{{profile.major}}" [(ngModel)]="model.major" name="major">
                            </div>
                            <div class="form-group">
                                <label>Hobby: </label>
                                <input class="form-control" placeholder="{{profile.hobby}}" [(ngModel)]="model.hobby" name="major">
                            </div>
                            <div class="form-group">
                                <label>Visibility: </label>
                                <select class="form-control" [(ngModel)]="model.visibility" name="visibility">
                                    <option *ngFor="let vis of visibilities" [selected]="vis.value === true" [value]="vis.value">
                                        {{vis.display}}
                                    </option>
                                </select>
                            </div>

                            <div class = "form-group">
                                <button class="btn btn-primary">Done</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
