<div class="container vertical-center">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Ready to Join? Create a New Account
                </div>
                <div class="panel-body">
                    <form name="form" class="form-horizontal" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
                            <label for="userName" class= "col-sm-3 control-label">Username*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="eg. Guocheng" name="userName" [(ngModel)]="model.userName" #userName="ngModel" required />
                            </div>
                            <div *ngIf="f.submitted && !userName.valid" class="help-block"> Username is required</div>
                        </div>



                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                            <label for="email" class="col-sm-3 control-label">Email*</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" placeholder="Your email address is also used to log in." name="email" [(ngModel)]="model.email" #email="ngModel" required />
                            </div>
                            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
                        </div>


                        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                            <label for="password" class="col-sm-3 control-label">Password*</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
                            </div>
                            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                        </div>


                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button [disabled]="loading" type="input" name="submit" value="newAccount" class="btn btn-success btn-icon"><i class="fa fa-check"></i> Create My Account</button>
                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                <button [routerLink]="['/login']" type="button" class="btn btn-default btn-icon" data-dismiss="modal"><i class="fa fa-times-circle"></i> Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
