<div class="bootstrap-vertical-nav">

    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
            &#9776;
        </button>
        <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
            <ul class="nav navbar-nav">
                <li class="nav-item active" *ngFor="let room of userClasses">
                    <button class="nav-link" (click)="update(room)" >{{room.course}}<span class="sr-only">(current)</span></button>
                </li>
            </ul>
        </div>
    </nav>

</div>

<h1>{{roomInfo.course}}</h1>
<h2>Numbers Of Classmates: {{numOfStudents}}</h2>
<button (click)="chat()"><a href="{{chatUrl}}">Chat Room</a></button>

<div class="list-group">
    <button class="list-group-item" *ngFor="let student of studentList">
        {{student.userName}}
        {{student.email}}
        <button class="fa fa-plus" (click)="sendRequest(student.userName)" aria-hidden="true"></button>
    </button>
</div>
