<ol class="breadcrumb">
	<li class="breadcrumb-item">YOU ARE HERE</li>
	<li class="active breadcrumb-item">Classroom</li>
</ol>
<h1 class="page-title">Classroom</h1>

<div class="row">
	<div class="col-lg-6 widget-container ui-sortable">
		<section class="widget" widget="">
			<header class="ui-sortable-handle">
				<h4>
					Classmates
				</h4>
				<div class="widget-controls">
					<a class="" data-original-title="Reload" data-widgster="load" href="#" (click)="getEnrolledClasses()" title=""><i class="fa fa-refresh"></i></a>
					<a data-original-title="Expand" data-widgster="expand" href="#" style="display: none;" title=""><i class="glyphicon glyphicon-chevron-up"></i></a>
					<a class="" data-original-title="Collapse" data-widgster="collapse" href="#" title=""><i class="glyphicon glyphicon-chevron-down"></i></a>
					<a class="" data-original-title="Full Screen" data-widgster="fullscreen" href="#" title=""><i class="glyphicon glyphicon-fullscreen"></i></a>
					<a data-original-title="Restore" data-widgster="restore" href="#" style="display: none;" title=""><i class="glyphicon glyphicon-resize-small"></i></a>
					<a data-original-title="Close" data-widgster="close" href="#" title=""><i class="glyphicon glyphicon-remove"></i></a>
				</div>
			</header>
			<br>
			<div class="clearfix">
				<ul class="nav nav-tabs pull-xs-left" id="myTab" role="tablist">
					<li class="nav-item" *ngFor="let room of userClasses">
						<a (click)="update(room)" data-toggle="tab" class="nav-link" href="#{{room.course}}" id="home-tab" role="tab">{{room.course}}</a>
					</li>
				</ul>
			</div>
			<div class="tab-content mb-lg" id="myTabContent">
				<div class="tab-pane clearfix" *ngFor="let room of userClasses" id="{{room.course}}" role="tabpanel">
					<form>
						<h4>Numbers Of Classmates: {{numOfStudents}}</h4>
						<div class="form-group">

							<h6>Search Friends By</h6>
							<label><input class="form-control" placeholder="Nationality:"[(ngModel)]="preference.nationality" type="text" name="nationality"></label>

							<div class="ui sub header">Language</div>
							<select class="ui fluid normal dropdown" [(ngModel)]="preference.language" name="language" >
								<option *ngFor="let language of languages" [ngValue]="language.name">{{language.name}}</option>
							</select>

							<div class="ui sub header">Hobby</div>
							<select class="ui fluid normal dropdown" [(ngModel)]="preference.hobby" name="hobby">
								<option *ngFor="let hobby of hobbies" [ngValue]="hobby.name">{{hobby.name}}</option>                    
							</select>
						</div>
						<div class = "form-group">
							<button class="btn btn-default" (click)="filterStudents(room)" type="submit">Search</button>
							<button *ngIf="!toGroup" class="btn btn-primary pull-xs-right" (click)="toGroup = true">Create Group</button>
							<button *ngIf="toGroup" class="btn btn-primary pull-xs-right" (click)="toGroup = false">Cancel</button>
						</div>
					</form>
					<br>
					<form (ngSubmit)="createGroup()" #groupForm="ngForm">
						<div class="form-group">
							<md-list>
								<md-list-item *ngFor="let student of studentList">
									<img md-list-avatar (click)="popInfo(student.userName)" src="assets/img/avatar.png" alt="...">
									<span class="pull-xs-right"><button class="btn btn-default" (click)="sendRequest(student.userName)">Add</button></span>
									<h3 md-line><a href="javascript:void(0)" (click)="popInfo(student.userName)"> {{student.userName}} </a></h3>
									<p md-line>
										<span> {{student.email}} </span>
									</p>
									<md-checkbox align="end" *ngIf="toGroup" [(ngModel)]="student.selected" name="selectStudent"></md-checkbox>
								</md-list-item>
							</md-list>
						</div>
						<div class="form-group" *ngIf="toGroup">
							<label for="name">
								<input type="text" class="form-control" placeholder="Group Name*" name="name" [(ngModel)]="groupName" #name="ngModel" required>
								<div [hidden]="name.valid || name.pristine" class="alert alert-danger">
									Group name is required
								</div>
							</label>
							<button class="btn btn-primary pull-xs-right" type="submit" [disabled]="!groupForm.form.valid">Invite</button>
						</div>
					</form>
					<br>
					<div class="offset-md-4 offset-xs-4">
						<button class="btn btn-danger" (click)="leaveClass(room)">Leave Class</button>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="col-lg-6 widget-container ui-sortable">
		<section class="widget" widget="">
			<header class="ui-sortable-handle">
				<h4>
					Chat Rooms
				</h4>
				<div class="widget-controls">
					<a class="" data-original-title="Reload" data-widgster="load" href="#" (click)="getEnrolledClasses()" title=""><i class="fa fa-refresh"></i></a>
					<a data-original-title="Expand" data-widgster="expand" href="#" style="display: none;" title=""><i class="glyphicon glyphicon-chevron-up"></i></a>
					<a class="" data-original-title="Collapse" data-widgster="collapse" href="#" title=""><i class="glyphicon glyphicon-chevron-down"></i></a>
					<a class="" data-original-title="Full Screen" data-widgster="fullscreen" href="#" title=""><i class="glyphicon glyphicon-fullscreen"></i></a>
					<a data-original-title="Restore" data-widgster="restore" href="#" style="display: none;" title=""><i class="glyphicon glyphicon-resize-small"></i></a>
					<a data-original-title="Close" data-widgster="close" href="#" title=""><i class="glyphicon glyphicon-remove"></i></a>
				</div>
			</header>
			<br>
			<div class="clearfix">
				<ul class="nav nav-tabs pull-xs-left" id="myTab" role="tablist">
					<li class="nav-item" *ngFor="let room of userClasses">
						<a class="nav-link" data-toggle="tab" href="#{{room.course}}chat" id="home-tab" role="tab">{{room.course}}</a>
					</li>
				</ul>
			</div>
			<div class="tab-content mb-lg" id="myTabContent">
				<div class="tab-pane clearfix" *ngFor="let room of userClasses" id="{{room.course}}chat" role="tabpanel">
					<!--<button (click)="chat(room)"><a href="{{chatUrl}}">Chat Room</a></button>-->
					<chat class="col-lg-12" [type]="1" [roomName]="room.course">Loading Chatroom...</chat>
				</div>
			</div>
		</section>
	</div>
	<div class="col-lg-12 widget-container ui-sortable">
		<section class="widget" widget="">
			<header class="ui-sortable-handle">
				<h4>
					Group Chat
				</h4>
				<div class="widget-controls">
					<a class="" data-original-title="Reload" data-widgster="load" href="#" (click)="getGroups()" title=""><i class="fa fa-refresh"></i></a>
					<a data-original-title="Expand" data-widgster="expand" href="#" style="display: none;" title=""><i class="glyphicon glyphicon-chevron-up"></i></a>
					<a class="" data-original-title="Collapse" data-widgster="collapse" href="#" title=""><i class="glyphicon glyphicon-chevron-down"></i></a>
					<a class="" data-original-title="Full Screen" data-widgster="fullscreen" href="#" title=""><i class="glyphicon glyphicon-fullscreen"></i></a>
					<a data-original-title="Restore" data-widgster="restore" href="#" style="display: none;" title=""><i class="glyphicon glyphicon-resize-small"></i></a>
					<a data-original-title="Close" data-widgster="close" href="#" title=""><i class="glyphicon glyphicon-remove"></i></a>
				</div>
			</header>
			<br>
			<div class="clearfix">
				<ul class="nav nav-tabs pull-xs-left" id="myTab" role="tablist">
					<li class="nav-item" *ngFor="let group of groupList">
						<a class="nav-link" data-toggle="tab" href="#{{group.groupName}}chat" id="home-tab" role="tab">{{group.groupName}}</a>
					</li>
				</ul>
			</div>
			<div class="tab-content mb-lg" id="myTabContent">
				<div class="tab-pane clearfix" *ngFor="let group of groupList" id="{{group.groupName}}chat" role="tabpanel">
					<!--<button (click)="chat(room)"><a href="{{chatUrl}}">Chat Room</a></button>-->
					<chat class="col-lg-12" [type]="2" [roomName]="group.groupName">Loading Chatroom...</chat>
				</div>
			</div>
		</section>
	</div>
</div>