<div class="chat-sidebar-content">
  <header class="chat-sidebar-header">
    <h4 class="chat-sidebar-title">Contacts</h4>
    <div class="form-group no-margin">
      <div class="input-group input-group-dark">
        <input class="form-control fs-mini" [(ngModel)]="searchText" type="text" placeholder="Search...">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
      </div>
    </div>
  </header>
  <div class="chat-sidebar-contacts chat-sidebar-panel" [ngClass]="{'open': !chatMessageOpened}">
    <h5 class="sidebar-nav-title">Today</h5>
    <div class="list-group chat-sidebar-user-group">
      <!--| SearchPipe : searchText-->
      <a *ngFor="let f of friendList"
         (click)="deactivateLink($event); openConversation(f)"
         class="list-group-item">
        <i class="fa fa-circle text-success pull-right"></i>
          <span class="thumb-sm pull-left mr">
              <img class="img-circle" src="assets/img/avatar.png" alt="...">
          </span>
        <h6 class="message-sender">{{f.userName}}</h6>
        <p class="message-preview">Test</p>
      </a>
    </div>
  <div chat-message [roomName]="activeFriendName" [open]="chatMessageOpened" (chatMessageClosed)="chatMessageOpened = false"></div>
</div>
